#form-add {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.outlined-basic {
  width: 100%;
}

.selInp {
  width: 100%;
  height: 7.5vh;
  background: none;
  border-radius: 5px;
  border: 1px solid #9f9e9e;
  color: #535252;
  font-size: 15px;
}

#add-title {
  margin: 20px auto;
  width: 40%;
  font-size: 40px;
  text-align: center;
}
