body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #303030;
}
.videobg {
  position: fixed;
  top: 0;
  width: 100vw;
}
.bg {
  position: fixed;
  width: 100vw;
}

a {
  color: white;
  text-decoration: none;
}
/* .bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
} */
/* 
.container {
  background: #fff;
  margin: auto;
  height: auto;
  width: 900px;
} */

footer {
  box-shadow: 0px 0px 7px 5px #202020ad;
  background: linear-gradient(
    270deg,
    #6161615e 0%,
    rgb(0 0 0 / 61%) 50%,
    #6161615e 100%
  );
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}
.footText a {
  padding-top: 10px;
}
.footText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footText ul li {
  list-style-type: none;
}
@media all and (max-width: 1000px) {
  .videobg {
    display: none;
  }
}
@media all and (max-width: 1300px) {
  .DetInfo {
    width: 82vw;
  }

  #prodCard {
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    width: 35%;
  }
}
@media all and (max-width: 600px) {
  .videobg {
    display: none;
  }
  #prodCard h5 {
    font-size: 20%;
  }
  #prodCard h2 {
    font-size: 20%;
  }
  #prodCard span {
    font-size: 20%;
  }
  .Navtext {
    flex-direction: column;
  }
  .footText {
    margin: auto;
    width: 50%;
    flex-direction: column;
  }
}
